.cocktailModal__container {
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}

.cocktailModal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cocktailModal__title {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  padding: 0px 20px 20px 20px;
  margin-top: 20px;
}

.cocktailModal__title > h4 {
  font-size: 20px;
  font-weight: 700;
}

.cocktailModal__title > p {
  position: fixed;
  font-size: 20px;
  font-weight: 700;
  right: 20px;
  cursor: pointer;
}

.cocktailModal__title > p:hover {
  transition: 200ms;
  transform: scale(1.2);
  color: #e29633;
}

.cocktailModal__row {
  display: flex;
  padding: 20px;
}

.cocktailModal__columnLeft > img {
  max-width: 300px;
  object-fit: contain;
  border: solid 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.cocktailModal__rating {
  display: flex;
  width: 100%;
  align-items: left;
  font-size: 12px;
  margin-top: 10px;
}

.cocktailModal__ratingIcon {
  color: rgb(255, 230, 0);
  margin-right: -10px;
  height: 15px !important;
}

.cocktailModal__columnRight {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.cocktailModal__ingredients > thead {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.cocktailModal__ingredients > tbody {
  font-size: 14px;
}

.cocktailModal__additionalIngredients {
  display: flex;
  flex-direction: column;
}

.cocktailModal__instructions > h5,
.cocktailModal__additionalIngredients > h5 {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.cocktailModal__instructions > small,
.cocktailModal__additionalIngredients > small {
  font-size: 14px;
}

.cocktailModal__footer {
  position: fixed;
  bottom: 40px;
  font-size: 12px;
  font-weight: 500;
  padding-right: 20px;
}
