.header {
  width: 100%;
  height: 85px;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__topRowContainer {
  height: 60px !important;
  display: flex;
  align-items: center;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  margin-left: 20px;
  margin-right: 50px;
}

.header__logoIcon {
  height: 40px !important;
  object-fit: contain;
  color: white;
}

.header__search {
  height: 30px !important;
  display: flex;
  flex: 1;
}

.header__searchInput {
  padding: 10px;
  border: none;
  height: 30px;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header__searchIcon {
  height: 30px !important;
  width: 35px !important;
  padding: 8px;
  background-color: #ff9900;
  color: #131a22;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 50px;
  margin-right: 20px;
}

.header__nav > a {
  margin-right: 20px;
  text-decoration: none !important;
}

.header__option {
  font-size: 13px;
  font-weight: 800;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.header__searchInput:focus {
  outline: none;
}

.header__searchInput::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.header__logoIcon:hover {
  transition: 200ms;
  color: #ff9900;
}

.header__searchIcon:hover {
  transition: 200ms;
  background-color: #ffbb56;
  padding: 6px;
}

.header__option:hover {
  transition: 200ms;
  color: #ff9900;
  text-decoration: underline 2px #ff9900;
  text-underline-offset: 3px;
}

@media (max-width: 739px) {
  .header__search {
    display: none;
  }

  .header__container {
    justify-content: flex-start;
  }

  .header__nav {
    position: fixed;
    right: 0px;
  }
}

.header__bottomRowContainer {
  display: flex;
  height: 25px !important;
  background-color: #232f3e;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header__menuButton {
  color: white;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.active .header__option {
  color: #ff9900 !important;
}

.header__menuButton:hover {
  transition: 200ms;
  color: #ff9900;
}
